
<!DOCTYPE html>
<html>
  <body>
    <form action='/add_link' method='post'>
      <label for='link_url'>
        Add a new link URL here:
        <input type='text' name='link_url'>
      </label>
      <label for='link_url'>
        Add a new link title here:
        <input type='text' name='link_title'>
      </label>
      <button type='submit'>Add link</button>
    </form>
    <form action='/delete_link' method='post'>
      <label for='title_to_delete'>
        Input title of link to delete here:
        <input type='text' name='title_to_delete'>
      </label>
      <button type='submit'>Delete link</button>
    </form>
    <%= styled_flash %>
    <ul>
      <% @links.each do |link| %>
        <li><a href="<%= link.url %>"><%=link.title%></a></li>
      <% end %>
    </ul>
  </body>
</html>
