<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action='/links/comments/apply_addition' method='post'>
      <label for='text'>
        Add comment:
        <input type='text' name='text'>
      </label>
      <button type='submit'>Submit</button>
    </form>
  </body>
</html>
